<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>MetaObjects Web React</display-name>
    <description>MetaObjects React Web Components</description>

    <!-- MetaData API Servlet -->
    <servlet>
        <servlet-name>MetaDataApiController</servlet-name>
        <servlet-class>com.draagon.meta.web.react.api.MetaDataApiController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MetaDataApiController</servlet-name>
        <url-pattern>/api/metadata/*</url-pattern>
    </servlet-mapping>

    <!-- Default servlet for static resources -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>

    <!-- CORS Filter for development -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.draagon.meta.web.react.filter.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

</web-app>