<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root logger level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Set specific logger levels -->
    <logger name="com.draagon.meta" level="INFO"/>
    
    <!-- Reduce noise from third-party libraries -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
</configuration>